h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
img {
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    
}
.menu {
    border: black solid;
    height: 150px;
}
.line {
    border: black solid 1px;
    margin-top: 25px;
}
.main {
  width: 1200px;
  margin: 0 auto;
font-size: 24px;
}


.menu-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    z-index: 999;
    display: inline;
    font-size: 32px;
  }
  .menu-btn a {
    display: inline-block;
    text-decoration: none;
    /* safari hack */
  }
  .btn-open:after {
    color: #333;
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
  }
  .btn-open:hover:after {
    color: #34B484;
  }
  .btn-close:after {
    color: #fff;
    content: "\f2d7";
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
  }
  .btn-close:hover:after {
    color: #34B484;
  }
  /* OVERLAY */
  .overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #333;
  }
  .overlay .menu {
    margin: 10% auto;
    width: 80%;
  }
  .overlay .menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .overlay .menu ul li {
    float: left;
    padding: 20px 0;
    width: 25%;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
  }
  .overlay .menu ul li a {
    color: #34B484;
    font-weight: bold;
    font-size: 20px;
  }
  .overlay .menu ul ul {
    margin-top: 50px;
  }
  .overlay .menu ul ul li {
    position: relative;
    float: none;
    margin: 0;
    width: 100%;
    border: 0;
  }
  .overlay .menu ul ul li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
  }
  .overlay .menu ul ul li a:hover {
    color: #34b484;
  }
  /* RESPONSIVE */
  @media screen and (max-width: 968px) {
    .overlay .menu ul li {
        float: none;
        margin-bottom: 50px;
        width: 100%;
        border-bottom: 1px solid #575757;
    }
    .overlay .menu ul li:last-child {
        border: 0;
    }
    .overlay .menu ul ul {
        margin-top: 20px;
    }
    .menu-btn {
      position: absolute;
      top: 6px;
      right: 100px;
      z-index: 999;
      display: inline;
      font-size: 32px;
  }
  .cmon {
    font-size: 50px;
    text-align: center;
}
.main {
  height: 5000px;
  width: 1200px;
  margin: 0 auto;
font-size: 30px;
}
html {
    
  zoom: 33%;

} 
  }
  
  .allexamples{
  position:absolute;
  bottom:0;
  font-size:18px;
  font-weight:bold;
  width:100%;
  text-align:center;
  background:#e9e9e9;
  padding:20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#333;
  position:fixed;
  } 
  .cmon {
    text-align: center;
}